@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #ccc;
}

*::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}